extends ../layout

block content
  div.row.text-center
    div.col-12
      div.card.my-3.border-gold
        div.card-header
          h5= thread.title
        div.card-content
          p= thread.summary
          if user._id.toString() == thread.creatorId.toString()
            button.btn.btn-outline-secondary.pointer.m-2 Edit
            button.btn.btn-outline-danger.pointer.m-2 Delete