extends ../layout

block content
  div.row.text-center
    div.col-12
      div.card.my-3.border-gold
        div.card-header
          h5= thread.title
        div.card-content
          p= thread.summary