extends layout

block content
  div.home
    div.row.justify-content-center.p-5.header
        h1.title Node Forums
        h4.desc.text-center.mt-3 Web application that demonstrates the proof of concept of a forum. It uses NodeJS/MongooseJS as a service/model layer to persist to mongo database.

        div.row.justify-content-center.p-1.mt-3
          a(href="/thread")
            button.btn.btn-outline-info Get Started