@import "lib/bootstrap4/bootstrap";
@import "base/button-social";
@import "lib/font-awesome/font-awesome";

// Scaffolding
// -------------------------
.border-gold {
  border: 1px goldenrod solid;
}

.not-allowed {
  cursor: not-allowed;
}

.link-text {
  color:black;
  text-decoration:none;
}

.link-text:hover {
  color: #0e4a6d;
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  // padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}
.pointer {
  cursor: pointer;
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.navbar-nav {
  .active {
    background-color: #bacaff;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
